.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/*.ts
**/tsconfig.json
**/node_modules/*
Gruntfile.js
**/*.cson

# client isn't needed since it's just source stuff
client/*
syntaxes/*
package.json