[package]
name = "parser_fuzz"
version = "0.1.0"

authors.workspace = true
license.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
toc-parser.workspace = true
toc-span.workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
afl.workspace = true
