comments:
    # symbol used for single line comment.
    lineComment: "%"
    # symbols used for start and end a block comment.
    blockComment: [
        "/*", "*/"
    ]

# symbols used as brackets
brackets: [
    ["(", ")"]
]

# symbols that are auto closed when typing
autoClosingPairs: [
    [ "(", ")" ]
    { open: '"', close: '"', notIn: [ "string" ] }
    { open: "'", close: "'", notIn: [ "string", "comment" ] }
    { open: "/*", close: "*/", notIn: [ "string" ] }
]

# symbols that can be used to surround a selection
surroundingPairs: [
    [ "(", ")" ]
    [ '"', '"' ]
    [ "'", "'" ]
]

###
Derived from https://github.com/Alhadis/language-turing/blob/v1.0.2/settings/editor.cson#L4-L12

Changes:
- Add short-hand aliases for function declarations (fcn & proc)
- Add "turse"-only keywords (`elif`)
### 
indentationRules:
    increaseIndentPattern: ///
        ( ^ \s*
            (?:
            # Item declarations
            class|module|monitor|process|function|fcn|procedure|proc|body|
            # Statements
            case|if|elsif|elseif|elif|for|loop|begin|
            # `then` but it's on a different line
            then
            )\b
        |   \s+ (?:then|:) \s*$
        )
    ///
    decreaseIndentPattern: ///
        ( ^ \s* end (?: \s+ case|if|for|loop|union|record)?\b # Tail end
        | ^ \s* (endcase|endif|endfor|endloop)\b
        | ^ \s* (else|elseif|elsif|elif)
        )
    ///
